<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Test page - Index</title>
</head>
<body>
	<!-- build:section layout.header -->
	<!-- /build -->
	<main>
		<h2>Content Title</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos vel deserunt error, architecto mollitia itaque minus quaerat placeat necessitatibus, corrupti sunt repellat laborum impedit facere distinctio dolor odit doloribus eius voluptatem cupiditate repudiandae nemo accusamus esse a. Aperiam voluptas nostrum quam vel, numquam omnis distinctio, ex soluta, animi culpa harum illum accusamus fuga! Tenetur beatae asperiores iusto ducimus cum dolorum itaque ea earum, odio facilis eius a, doloribus praesentium molestiae ullam sapiente suscipit obcaecati aperiam error, eligendi veniam! Libero ut magnam, ab impedit odio obcaecati repellendus tempora repudiandae quasi, nemo dolores quidem enim placeat quae totam, iusto aperiam non. Incidunt.</p>
	</main>
	<!-- build:section layout.footer -->
	<!-- /build -->	
</body>
</html>